<div class="grid grid-nogutter">
  <div class="col-12">
    <p-dropdown
      [autoDisplayFirst]="false"
      [resetFilterOnHide]="true"
      [options]="itemList"
      [filter]="true"
      filterBy="label,value"
      scrollHeight="350px"
      [(ngModel)]="itemId"
      [showClear]="true"
      (onChange)="onSelectItem('itemId', $event.value)"
      (onClear)="onClearItem()"
      [placeholder]="placeholder"
    >
      <ng-template let-item pTemplate="selectedItem">
        <div class="flex gap-1 item_template" [pTooltip]="item.value | itemDescTooltip: items" [escape]="false" tooltipPosition="right" [showDelay]="500" tooltipStyleClass="item_desc_tooltip" *ngIf="itemId">
          <img [src]="item.value | iconUrl: 'item'" alt="" class="item_img" />
          <div>{{ item.label }}</div>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="flex gap-1" [pTooltip]="item.value | itemDescTooltip: items" [escape]="false" tooltipPosition="right" [showDelay]="500" tooltipStyleClass="item_desc_tooltip">
          <img [src]="item.value | iconUrl: 'item'" alt="" style="width: 19px" />
          <div>{{ item.label }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
