<div class="ui-component" [ngClass]="['ui-' + kind, styleClass]" [class.ui-disabled]="disabled" [class.ui-focus]="overlayVisible">
  <button #trigger type="button" class="ui-inputtext ui-select-trigger" [class.ui-placeholder]="multi ? !hasValue : selectedOption == null" [ngClass]="'ui-' + kind + '-label'" role="combobox" [id]="inputId || id" [disabled]="disabled" [attr.aria-label]="ariaLabel || placeholder || defaultLabel || null" [attr.aria-labelledby]="ariaLabelledBy || null" [attr.aria-expanded]="overlayVisible" [attr.aria-controls]="overlayVisible ? id + '-list' : null" [attr.aria-activedescendant]="overlayVisible && active >= 0 ? id + '-option-' + active : null" aria-haspopup="listbox" (click)="toggle()" (keydown)="onKey($event)" (blur)="blur()">
    <ng-container *ngIf="!multi && template('selectedItem') && selectedOption != null; else text" [ngTemplateOutlet]="template('selectedItem')" [ngTemplateOutletContext]="{ $implicit: selectedOption }"></ng-container><ng-template #text>{{label}}</ng-template>
  </button>
  <button *ngIf="showClear && hasValue" type="button" class="ui-select-clear ui-link" [ngClass]="'ui-' + kind + '-clear-icon'" aria-label="Limpar seleção" [disabled]="disabled" (click)="clear($event)"><app-icon name="times"></app-icon></button>
  <button type="button" class="ui-select-chevron ui-link" [ngClass]="'ui-' + kind + '-trigger'" tabindex="-1" [disabled]="disabled" aria-label="Abrir opções" (click)="toggle()"><app-icon name="chevron-down"></app-icon></button>
</div>

<ng-template #panel>
  <div class="ui-component" [ngClass]="['ui-' + kind + '-panel', panelStyleClass]" tabindex="-1" (keydown)="onKey($event)">
    <div *ngIf="filter || (multi && showToggleAll)" class="ui-select-header" [ngClass]="'ui-' + kind + '-header'">
      <button *ngIf="multi && showToggleAll" type="button" class="ui-link ui-select-all" aria-label="Selecionar todos" (click)="toggleAll($event)"><app-icon name="check"></app-icon></button>
      <div *ngIf="filter" class="ui-dropdown-filter-container">
        <input type="search" class="ui-inputtext ui-dropdown-filter" [value]="query" [placeholder]="filterPlaceholder" aria-label="Filtrar opções" [attr.aria-controls]="id + '-list'" [attr.aria-activedescendant]="active >= 0 ? id + '-option-' + active : null" name="ui-option-search" autocomplete="off" data-lpignore="true" data-1p-ignore data-bwignore="true" data-form-type="other" (input)="onFilter($any($event.target).value)" />
        <ng-container *ngIf="template('filtericon') as icon; else searchIcon" [ngTemplateOutlet]="icon"></ng-container><ng-template #searchIcon><app-icon class="ui-dropdown-filter-icon" name="search"></app-icon></ng-template>
      </div>
      <button *ngIf="multi" type="button" class="ui-link" aria-label="Fechar opções" (click)="hide(true)"><app-icon name="times"></app-icon></button>
    </div>
    <ng-container *ngIf="cascade; else flat" [ngTemplateOutlet]="tree" [ngTemplateOutletContext]="{ $implicit: options, depth: 0 }"></ng-container>
    <ng-template #flat>
      <cdk-virtual-scroll-viewport *ngIf="virtualScroll && rows.length; else ordinary" [itemSize]="virtualScrollItemSize" [style.height.px]="panelHeight" class="ui-select-viewport" role="listbox" [id]="id + '-list'" [attr.aria-multiselectable]="multi">
        <ng-container *cdkVirtualFor="let row of rows; let index = index"><ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ $implicit: row, index: index }"></ng-container></ng-container>
      </cdk-virtual-scroll-viewport>
      <ng-template #ordinary><div class="ui-select-items-wrapper" [ngClass]="'ui-' + kind + '-items-wrapper'" [style.max-height]="scrollHeight"><ul class="ui-select-items" [ngClass]="'ui-' + kind + '-items'" role="listbox" [id]="id + '-list'" [attr.aria-multiselectable]="multi">
        <ng-container *ngFor="let row of rows; let index = index" [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ $implicit: row, index: index }"></ng-container>
        <li *ngIf="!rows.length" class="ui-dropdown-empty-message">{{emptyFilterMessage}}</li>
      </ul></div></ng-template>
    </ng-template>
  </div>
</ng-template>

<ng-template #rowTemplate let-row let-index="index">
  <li *ngIf="row.group" class="ui-select-item-group" [style.height.px]="virtualScroll ? virtualScrollItemSize : null" [ngClass]="'ui-' + kind + '-item-group'" role="presentation"><ng-container *ngIf="template('group') as groupContent; else groupText" [ngTemplateOutlet]="groupContent" [ngTemplateOutletContext]="{ $implicit: row.option }"></ng-container><ng-template #groupText>{{row.option.label}}</ng-template></li>
  <li *ngIf="!row.group" class="ui-select-item" [style.height.px]="virtualScroll ? virtualScrollItemSize : null" [ngClass]="'ui-' + kind + '-item'" [id]="id + '-option-' + index" role="option" tabindex="-1" [attr.aria-selected]="selected(row.option)" [attr.aria-disabled]="!!row.option?.disabled" [class.ui-highlight]="selected(row.option)" [class.ui-focus]="keyboardActive && active === index" [class.ui-disabled]="row.option?.disabled" (click)="choose(row.option, $event)" (keydown.enter)="choose(row.option, $event)">
    <span *ngIf="multi" class="ui-checkbox-box" [class.ui-highlight]="selected(row.option)"><app-icon *ngIf="selected(row.option)" name="check"></app-icon></span>
    <ng-container *ngIf="template('item') as content; else labelText" [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{ $implicit: row.option }"></ng-container><ng-template #labelText>{{labelOf(row.option)}}</ng-template>
  </li>
</ng-template>

<ng-template #tree let-entries let-depth="depth">
  <ul class="ui-cascadeselect-items" [class.ui-cascadeselect-sublist]="depth > 0" role="listbox" [id]="depth === 0 ? id + '-list' : null">
    <li *ngFor="let option of entries" class="ui-cascadeselect-item" role="option" [attr.aria-selected]="selected(option)" [class.ui-highlight]="path[depth] === option" (mouseenter)="expand(option, depth)">
      <button type="button" class="ui-cascadeselect-item-content ui-link" [disabled]="option.disabled" [attr.aria-expanded]="childrenOf(option, depth).length ? path[depth] === option : null" (click)="treePick(option, depth, $event)" (keydown)="treeKey(option, depth, $event)">{{ option[optionGroupLabel] || labelOf(option) }}<app-icon *ngIf="childrenOf(option, depth).length" name="chevron-right"></app-icon></button>
      <ng-container *ngIf="path[depth] === option && childrenOf(option, depth).length" [ngTemplateOutlet]="tree" [ngTemplateOutletContext]="{ $implicit: childrenOf(option, depth), depth: depth + 1 }"></ng-container>
    </li>
  </ul>
</ng-template>
