<div class="layout-footer flex-column gap-1 text-center" style="font-size: 0.85rem">
    <div>
        <a href="https://github.com/adsonpleal/latam-ro-calc" target="_blank" rel="noreferrer noopener">Código no GitHub</a>
        <span class="mx-2">•</span>
        Baseado no
        <a href="https://github.com/turugrura/tong-calc-ro" target="_blank" rel="noreferrer noopener">tong-calc-ro</a>
        de turugrura
    </div>
    <div class="text-color-secondary">
        Ragnarok Online &copy; Gravity Co., Ltd. &amp; Lee Myoungjin. Todos os ativos, dados e imagens pertencem aos seus respectivos donos.
    </div>
</div>
