::ng-deep app-item-search .item-position-list app-ui-listbox .ui-listbox-list,
::ng-deep .ui-scope-app-item-search .item-position-list app-ui-listbox .ui-listbox-list {
  /* columns: 9;
  padding: 0; */
  padding: 0;
  display: grid;
  grid-template-columns: repeat(9, auto);
}

::ng-deep app-item-search .item-position-list .ui-listbox-item,
::ng-deep .ui-scope-app-item-search .item-position-list .ui-listbox-item {
  padding: 0.25rem 0.25rem;
}

::ng-deep app-item-search .skill-list app-ui-listbox .ui-listbox-list,
::ng-deep .ui-scope-app-item-search .skill-list app-ui-listbox .ui-listbox-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

::ng-deep app-item-search .skill-list .ui-listbox-item,
::ng-deep .ui-scope-app-item-search .skill-list .ui-listbox-item {
  padding: 0.25rem 0.25rem;
}

::ng-deep app-item-search .ui-dialog-header,
::ng-deep .ui-scope-app-item-search .ui-dialog-header {
  padding: 0.5rem 1.5rem;
}

::ng-deep app-item-search .ui-dialog-content,
::ng-deep .ui-scope-app-item-search .ui-dialog-content {
  padding-bottom: 0;
}
