<app-ui-dialog
  header="{{ className || selectedCharacter?.className }}"
  [modal]="true"
  [closeOnEscape]="true"
  [(visible)]="isShowSearchDialog"
  [style]="{ width: '75vw', height: '90vh', 'min-width': '750px' }"
>
  <div class="ui-fluid grid grid-nogutter">
    <div class="col-12 item-position-list">
      <app-ui-listbox
        [options]="itemPositionOptions"
        [(ngModel)]="selectedItemPositions"
        [metaKeySelection]="false"
        [multiple]="true"
        [listStyle]="{ 'max-height': '600px' }"
      >
        <ng-template let-item appTemplate="item">
          <div class="flex item-position-{{ item.value }}" style="background-color: var(--border-radius)">
            <div>{{ item.label }}</div>
          </div>
        </ng-template>
      </app-ui-listbox>
    </div>
    <div class="col-12 grid grid-nogutter">
      <div class="col-6 grid grid-nogutter">
        <div class="col-6">
          <app-ui-cascade-select
            [(ngModel)]="selectedBonus[0]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 1"
            [showClear]="true"
          ></app-ui-cascade-select>
        </div>
        <div class="col-6">
          <app-ui-cascade-select
            [(ngModel)]="selectedBonus[1]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 2"
            [showClear]="true"
          ></app-ui-cascade-select>
        </div>
        <div class="col-6">
          <app-ui-cascade-select
            [(ngModel)]="selectedBonus[2]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 3"
            [showClear]="true"
          ></app-ui-cascade-select>
        </div>
        <div class="col-6">
          <app-ui-cascade-select
            [(ngModel)]="selectedBonus[3]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 4"
            [showClear]="true"
          ></app-ui-cascade-select>
        </div>
        <div class="col-12 px-2 py-2 flex justify-content-between">
          <div class="search-mode flex">
            <app-ui-input-switch inputId="search_mode" [(ngModel)]="isSerchMatchAllBonus"></app-ui-input-switch>
            <span *ngIf="isSerchMatchAllBonus" class="px-2">Item deve incluir todos os bônus selecionados</span>
            <span *ngIf="!isSerchMatchAllBonus" class="px-2">Item deve incluir pelo menos 1 dos bônus selecionados</span>
          </div>
          <div class="search-btn">
            <button appButton class="ui-button-info" (click)="onItemSearchFilterChange()">Buscar</button>
          </div>
        </div>
      </div>
      <div class="col-6 grid grid-nogutter">
        <div class="col-12 skill-list">
          <app-ui-listbox
            [options]="offensiveSkills"
            [(ngModel)]="selectedOffensiveSkills"
            [metaKeySelection]="false"
            [multiple]="true"
          ></app-ui-listbox>
        </div>
      </div>
    </div>

    <div class="col-4 search_table">
      <app-ui-table
        dataKey="id"
        [value]="filteredItems"
        selectionMode="single"
        [(selection)]="activeFilteredItem"
        [tableStyle]="{ 'min-width': '20rem' }"
        styleClass="ui-datatable-sm"
        [paginator]="true"
        [rows]="14"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{totalRecords} itens"
        [pageLinks]="4"
        [(first)]="itemSearchFirst"
        [totalRecords]="totalFilteredItems"
        (rowSelected)="onSelectFilteredItem($event.data)"
        (rowUnselected)="onSelectFilteredItem($event.data)"
      >
        <ng-template appTemplate="body" let-item let-rowIndex="rowIndex">
          <tr [appSelectableRow]="item">
            <td>
              <div
                class="flex gap-1 item_template item_label_{{ item.value }}"
                style="background-color: var(--border-radius)"
              >
                <img [src]="item.id | iconUrl: 'item'" alt="" class="item_img" />
                <div class="text_ellips">
                  {{ item.label }}
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </app-ui-table>
    </div>
    <div class="col-8">
      <div class="flex align-items-center gap-2 px-2 py-2 ml-2">
        <span class="text-sm white-space-nowrap">Servidor:</span>
        <app-ui-dropdown
          class="flex-1"
          [options]="shopServerOptions"
          [(ngModel)]="selectedShopServer"
          optionLabel="label"
          optionValue="value"
          styleClass="w-full"
        ></app-ui-dropdown>
      </div>
      <div class="grid grid-nogutter ml-2" style="max-height: 460px; overflow: auto">
        <div
          *ngIf="!activeFilteredItem"
          class="col-12 flex flex-column align-items-center justify-content-center text-center px-3"
          style="min-height: 240px; opacity: 0.6"
        >
          <app-icon style="font-size: 2.5rem" name="arrow-circle-left"></app-icon>
          <p class="mt-3 mb-0">Selecione um item na lista ao lado para ver seus bônus e descrição.</p>
        </div>
        <ng-container *ngIf="activeFilteredItem">
          <div class="col-12 json_display">
            <div class="flex flex-column align-items-start gap-1">
              <span>
                Item ID:
                <a [href]="divinePrideItemUrl" target="_blank" rel="noopener noreferrer">{{ activeFilteredItem.id }}</a>
              </span>
              <a [href]="marketItemUrl" target="_blank" rel="noopener noreferrer" class="flex align-items-center gap-1">
                <app-icon name="shopping-cart"></app-icon> Mercado
              </a>
            </div>
          </div>
          <div class="col-fixed px-2 py-2 mt-3" style="color: #000; background-color: #fff; width: 100px">
            <img
              *ngIf="seletedItemId"
              src="https://www.divine-pride.net/img/items/collection/thROG/{{ seletedItemId }}"
              alt=""
            />
          </div>
          <div
            class="col px-2 py-2 mt-3"
            style="color: #000; background-color: #fff"
            [innerHTML]="activeFilteredItemDesc"
          ></div>
        </ng-container>
      </div>
    </div>
  </div>
</app-ui-dialog>
