<div class="battle-effects">
  <div class="hud-buffs" *ngIf="chanceList?.length">
    <span class="cap">Efeitos</span>
    <p-selectButton
      [options]="chanceList"
      optionValue="name"
      [multiple]="true"
      [ngModel]="selectedChances"
      (ngModelChange)="selectedChancesChange.emit($event)"
      styleClass="hud-buffs-select"
    >
      <ng-template let-item pTemplate="item">
        <span [pTooltip]="effectTooltip(item.label2)" tooltipPosition="top" class="hud-buff-item">
          <img *ngIf="item.itemId" [src]="item.itemId | iconUrl" alt="" class="hud-buff-icon" missingIcon />
          {{ item.label }}
        </span>
      </ng-template>
    </p-selectButton>
  </div>

  <div class="hud-buffs" *ngIf="isComparing && chanceList2?.length">
    <span class="cap cap--cmp">Efeitos - comparação</span>
    <p-selectButton
      [options]="chanceList2"
      optionValue="name"
      [multiple]="true"
      [ngModel]="selectedChances2"
      (ngModelChange)="selectedChances2Change.emit($event)"
      styleClass="hud-buffs-select"
    >
      <ng-template let-item pTemplate="item">
        <span [pTooltip]="effectTooltip(item.label2)" tooltipPosition="top" class="hud-buff-item">
          <img *ngIf="item.itemId" [src]="item.itemId | iconUrl" alt="" class="hud-buff-icon" missingIcon />
          {{ item.label }}
        </span>
      </ng-template>
    </p-selectButton>
  </div>
</div>
